/* media queries para móvil */
@media screen and (min-width: 480px) {
    .top-bar {
        display: none;
    }

    .main-nav__list {
        display: none;
    }

    .main-nav div:first-child {
        grid-auto-flow: column;
        margin: 0 10px 0 10px;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 400px;
    }

    .propuestas__header {
        display: flex;
        justify-content: center;
    }
}

/* media queries para tablet */
@media screen and (min-width: 920px) {
    .top-bar {
        display: none;
    }

    .main-nav__list {
        display: none;
    }

    .main-nav div:first-child {
        /* grid-auto-flow: column; */
        margin: 0 10px 0 10px;
        grid-template-columns: 1fr 1fr;
    }

    .main-header {
        height: 350px;
        text-align: center;
    }

    .main-header div:first-child {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .boton-cta {
        width: 30%;
        margin-left: 30%;
    }

    .propuestas__header {
        display: 20px;
    }

    .main-header__title {
        font-size: 2.8em;
        /* margin-top: 25px; */
    }

    .main-header__slogan {
        font-size: 1.2em;
        margin-top: 10px;
    }

    .propuestas-container {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .card-propuesta {
        padding: 20px;
    }

    .card-propuesta_title {
        font-size: 1.2em;
    }

    .card-propuesta_descripcion {
        font-size: 1em;
    }

    .main-footer__lista-redes {
        flex-direction: row;
        align-items: center;
    }

    .main-footer__lista-redes li {
        margin: 5px 0;
    }
}

/* media queries para desktop */
@media screen and (min-width: 1200px) {
    .top-bar {
        display: block;
        padding: 20px 0;
    }

    .main-nav__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
        align-items: center;
        justify-content: space-around;
    }

    .menu-toggle {
        display: none;
    }

    .top-bar div:first-child {
        grid-template-columns: 1.3fr 0.7fr;
        justify-content: left;
        align-items: center;
        gap: 1rem;
    }

    .top-bar__redes {
        justify-content: center;
    }


    
}